body{
    text-align: center;
    /* background-color: rgb(254, 229, 207); */
    background-color: white;
    font-family: "Roboto";
    font-size: 25px;
    color: rgb(88, 87, 87);
  }
  
  .title {
    font-family: "Roboto";
    width: auto;
    font-size: 50px;
    /* background-color: rgb(254, 229, 207);*/
    background-color: white;
    border-width: 0;
    display:block;
    margin: auto;
    margin-bottom: 50px; 
    margin-top: 20px;
    cursor:pointer;
    color: black;
  }

  .p1 {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .model_1 {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }
  
  .model_1_info {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .model_2 {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }

  .model_2_info {
    width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }


