body{
  text-align: center;
  background-color: rgb(254, 229, 207);
  font-family: "Roboto";
  font-size: 25px;
  color: black;
}

.title {
  font-family: "Roboto";
  width: auto;
  font-size: 50px;
  background-color: rgb(254, 229, 207);
  border-width: 0;
  display:block;
  margin: auto;
  margin-bottom: 100px; 
  margin-top: 20px;
  cursor:pointer;
  color: black;
}