body{
  text-align: center;
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  font-family: "Times New Roman";
  font-size: 25px;
  color: rgb(88, 87, 87);
}

.title {
  font-family: "Times New Roman";
  width: auto;
  font-size: 50px;
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  border-width: 0;
  display:block;
  margin: auto;
  margin-bottom: 50px; 
  margin-top: 20px;
  cursor:pointer;
  color: black;
}

.p1 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p2 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p3 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.p4 {
  width:50%;
  text-align: center;
  margin: auto;
}

.list {
  width:50%;
  text-align: left;
  margin: auto;
  margin-bottom: 75px;
}

.p5 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p6 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p7 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}
