body {
  text-align: center;
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  font-family: "Roboto";
  font-size: 25px;
  /*color: black;*/
  color: rgb(88, 87, 87);
}

.title {
  font-family: "Roboto";
  width: auto;
  font-size: 75px;
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  border-width: 0;
  display:block;
  margin: auto;
  margin-bottom: 50px; 
  margin-top: 20px;
  cursor:pointer;
  color: black;
}

.pre-design-stage {
  font-family: "Roboto";
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  font-size: 45px;
  cursor:pointer;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
  margin-bottom: 25px;
  transition: background-color 0.25s,
      color 0.25s;
}

.pre-design-stage:hover {
  /*color: rgb(254, 229, 207);*/
  color: white;
  background-color: black;
}


.early-design-stage {
  font-family: "Roboto";
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  font-size: 45px;
  cursor:pointer;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
  margin-bottom: 25px;
  transition: background-color 0.25s,
      color 0.25s;
}

.early-design-stage:hover {
  /*color: rgb(254, 229, 207);*/
  color: white;
  background-color: black;
}


.mid-design-stage {
  font-family: "Roboto";
  /*background-color: rgb(254, 229, 207);*/
  background-color: white;
  font-size: 45px;
  cursor:pointer;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: black;
  margin-bottom: 25px;
  transition: background-color 0.25s,
      color 0.25s;
}

.mid-design-stage:hover {
  /*color: rgb(254, 229, 207);*/
  color: white;
  background-color: black;
}


.p1 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p2 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}

.p3 {
  width:50%;
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
}